*{
    margin:0;
    padding: 0;
    font-family: 'Poppins';
}

#img-pag{
    width:45vw;
}

#container{
    display:grid;
    grid-template: 100vh /1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
}

#container-text{
    color:grey;
    font-size: 1.5rem;
    max-width: 70vw;
    margin-left: 2rem;
}

#container-text > div > h1{
    color:rgb(34, 243, 156);
}

#container-text div h1{
    padding-bottom: 10px;
}

#container-text > div {
    padding-bottom: 20px;
}

.calc{
    display:none;
    flex-direction: column;
    max-width: 250px;
    justify-content: center;
    margin-left:1.5rem;
}

#goCalc{
    border: none;
    border-radius:10px;
    background-color: rgb(38, 238, 155);
    color:white;
    padding: 10px;
    cursor: pointer;
    width: 200px;
    margin-top: 20px;
    font-size: 15px;
}

.calc input{
    border: 1px solid rgb(209, 209, 209);
    padding: 10px;
    margin-bottom:10px;
}

.calc input:focus{
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#buttonCalc{
    border: 1px solid rgb(209, 209, 209);
    padding: 10px;
    cursor: pointer;
}

/* config buttons */ 

button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

/* result */

#result{
    display:grid;
    grid-template:1fr 1fr 1fr/ 0.2fr 1fr;
    align-items: center;
    justify-content:center;
    margin-top: 20px;
    font-size: 15px;
}

#result > img{
    width:30px;
}

@media (max-width:700px){
    #img-pag{
        display:none;
    }
}